{% extends "base.html" %}
{% load static %}

{% block head %}
<title>First App Page</title>
<link rel="stylesheet" href="{% static "css/mystyle.css" %}">
{% endblock %}

{% block index_content %}

<h1>Hi welcome to First App Page</h1>
<h2>Here are your access records:</h2>
<div class="access_record">
  {% if AccessRecord %}
  <table>
    <thead>
      <th>Site Name</th>
      <th>Date Accessed</th>
    </thead>
    {% for acc in AccessRecord %}
    <tr>
      <td>{{ acc.name }}</td>
      <td>{{ acc.date }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>NO ACCESS RECORDS FOUND</p>
  {% endif %}
</div>

{% endblock %}
