/* Specificity defines the hierarchy of CSS styling what type of
tags overrule others

lecture not part5_master.css contains two links

*/


li{
  color: red;
}

.topItems{
  color: blue;
}

#two{
  color: purple;
  border: 3px solid black;
}
