{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Blog Page Of App Two</title>
<link rel="stylesheet" href="{% static "css/apptwo_style.css" %}">
{% endblock %}

{% block blog_content %}
<h1><strong>Blog Page</strong></h1>

<div class="user_blog">


  {% if user_blog %}
  <ol>
    {% for user in user_blog %}
    <li>User Info</li>
    <ul>
      <li>First Name: {{ user.first_name }}</li>
      <li>Last Name: {{ user.last_name }}</li>
      <li>Email: {{ user.email }}</li>
    </ul>
    {% endfor %}
  </ol>
  {% else %}
  <p>NO USER FOUND FOR BLOG</p>
  {% endif %}


</div>

{% endblock %}
